* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.slide-container {
    position: relative;
    width: 100% ;
}
.slide img{
    width: 100%;
    height: 40vh;
    padding: 10px 0px;
}
.arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: aliceblue;
    padding: 8px 20px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}
.next {
    right:10px;
}
.prev {
    left:10px;
}
.caption {
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    background-color: black;
    padding:15px 0px;
}
.slide {
    display: none;
}
